<!DOCTYPE html>
<html lang="en">
    <head>
        <title>$broadcast</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <style>
        
        </style>
    </head>
    <body ng-app="myApp">
    <div ng-controller="firstCtrl">
        <h1>Parent Controller</h1>
        <input ng-model="msg">
        <button type="button" ng-click="handleClick(msg)">Broadcast</button>
        <br>
        <div ng-controller="secondCtrl">
            <h1>Child Controller</h1>
            <p>BroadCast Message: {{message}}</p>
            
        </div>
    </div>
    <script src="js/angular.min.js"></script>    
    <script>
        var app = angular.module('myApp',[]);
        app.controller('firstCtrl', function($scope){
            $scope.handleClick = function(msg){
              $scope.$broadcast('eventName',{
                  message: msg
              });  
            };
        });
        
        app.controller('secondCtrl', function($scope){
            $scope.$on('eventName', function(event,args){
                $scope.message = args.message;
                console.log($scope.message);
            });
        });
    </script>
    
    </body>
</html>