<!DOCTYPE html>
<html lang="en">
	<head>
		<title>angular.element, jQuery() and $()</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale =1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in employee">
                    <td>{{x.Id}}</td>
                    <td>{{x.Name}}</td>
                    <td>{{x.City}}</td>
                    <td>{{x.Country}}</td>
                    <td><input type="button" class ="btn btn-danger" ng-click="dataDelete(x.Id)" value="Delete"></td>
                </tr>
                <tr ng-if="newRow">
                    <td><input type="text" ng-model="emp.Id"/></td>
                    <td><input type="text" ng-model="emp.Name"/></td>
                    <td><input type="text" ng-model="emp.City"/></td>
                    <td><input type="text" ng-model="emp.Country"/></td>
                    <td><input type="button" value="Save" ng-click="addData()"/>
                        <input type="button" value="Cancel" ng-click="ShowRow(false)"/></td>
                </tr>
                <tr>
                    <td><input type="button" value="Add New" ng-click="ShowRow(true)"><br>{{emp | json }}</td
                </tr>
            </tbody>
            
        </table>
        <!--<p>{{employee | json}}</p>-->
		<script>
		  angular.module('myApp',[]).controller('myCtrl',function($scope, $http){
              $scope.employee = {};
              $scope.emp = {};
              // Get Data From Server
              $scope.getData = function(data){
                  $http.get('https://www.w3schools.com/angular/customers.php').success(function(data){
                      $scope.employee = data.records;
                  });
              }
              $scope.getData();
              
              // Delete Data from UI
              $scope.dataDelete = function(data){
                  $http.delete('/api/customers.php?Id='+data).success(function(){
                    $scope.getData();
                });
              }
              
              // insert Data
              $scope.addData = function(){
                  $http.post('api/customers.php/',$scope.emp).success(function(){
                      $scope.getData();
                  });
              }
              
              $scope.newRow = false;
              $scope.ShowRow = function(data){
                  $scope.newRow = data;
              }
          });
		</script>
        
	</body>
</html>